
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #a11677;
}

.section-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
    background-color: #141414;
}

.home-content {
    max-width: 50%;
}

.home-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.home-content p {
    margin: 20px 0;
    font-size: 18px;
    color: #cfcfcf;
}


.glow-on-hover {
    display: inline-block;
    padding: 15px 20px;
    color: #cfcfcf;
    background: linear-gradient(180deg, rgba(247, 1, 120, 1) 0%,
    rgba(160, 8, 156, 1) 51%,
    rgba(99, 13, 178, 1) 100%);
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 8px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    background: linear-gradient(180deg, rgba(247, 1, 120, 1) 0%,
    rgba(160, 8, 156, 1) 51%,
    rgba(99, 13, 178, 1) 100%);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(247, 1, 120, 1) 0%,
    rgba(160, 8, 156, 1) 51%,
    rgba(99, 13, 178, 1) 100%);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.home-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.section {
    padding: 60px 5%;
    
}
.section h1{
   
    color: #a11677;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease;
    margin-top: 20px; 

}
.section a{
    text-decoration: none;
}

.text-animate h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 0.1vw #770753;
    background: linear-gradient(180deg, rgba(247, 1, 120, 1) 0%,
            rgba(160, 8, 156, 1) 51%,
            rgba(99, 13, 178, 1) 100%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    animation: moveText 3s linear infinite;
    letter-spacing: 2px;
}
ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 10px 0;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media a {
    color: #f7f5f6;
    font-size: 18px;
    text-decoration: none;
}

.social-media a:hover {
    color: #a11677;
    text-decoration: underline;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #a11677;
}

a[href^="mailto"] {
    color: #fff;  
    text-decoration: none;  
}

a[href^="mailto"]:hover {
    color: #a11677;  
    text-decoration: underline;  
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(180deg, rgba(247, 1, 120, 1) 0%,
            rgba(160, 8, 156, 1) 51%,
            rgba(99, 13, 178, 1) 100%);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


